@media screen and (min-width: 780px) {
  .project.inverted {
    flex-direction: row-reverse;
    padding-left: clamp(0px, calc(18vw - 234px), 60px);
    padding-right: 0px;
  }

  .inverted .project_text .links {
    margin-left: 0px;
    margin-right: 15px;
  }

  .inverted .project_text .tags {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 9px;
  }

  .inverted .project_text .text p {
    text-align: end;
  }

  .inverted .project_text .type {
    margin-left: 0px;
    margin-right: 15px;
    flex-direction: row-reverse;
  }

  .inverted .project_text {
    align-items: flex-end;
    margin-left: -100px;
    margin-right: 0px;
  }

  .inverted .project_text .title {
    margin-left: 0px;
    margin-right: 15px;
  }
}

.other_projects_content {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (max-width: 1250px) {
  .other_projects_content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: clamp(0px, calc(18vw - 234px), 60px);
}

.project_view {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_view a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(clamp(400px, 40vw, 600px) * 1.05);
  overflow: hidden;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
  border-radius: 15px;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
}

.project_view a:hover {
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
}

.project_view video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project_view img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

.project_text {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: -100px;
}

.project_text .type {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 7px;
  font-size: 16px;
  white-space: nowrap;
  color: var(--light_blue);
  margin-left: 15px;
  margin-bottom: 10px;
}

.project_text .title {
  font-size: 32px;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 12px;
  margin-left: 15px;
  transition: color 0.2s ease;
}

.project_text a.title:hover {
  color: var(--light_blue);
}

.project_text .text {
  background-color: var(--purple);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
  border-radius: 15px;
  padding: 25px 25px 25px 25px;
  margin-bottom: 19px;
  transition: filter 0.3s ease;
}

.project_text .text:hover {
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.6));
}

.project_text .text p {
  font-size: 20px;
  text-align: start;
  color: var(--fade_white);
}

.project_text .tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 17px;
  margin-left: 9px;
  gap: 8px;
}

.project_text .tags a {
  font-size: 16px;
  color: var(--light_blue);
  text-decoration: none;
  opacity: 1;
  padding: 3px 6px 3px 6px;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.project_text .tags a:hover {
  opacity: 0.5;
}

.project_text .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  gap: 20px;
}

.project_text .links .github {
  --color: rgb(181, 184, 192);
}

.project_text .links .test {
  --color: rgb(41, 168, 99);
}

.project_text .links svg {
  width: 21px;
  fill: none;
  stroke-width: 1.9px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.project_text .links svg:hover {
  opacity: 0.6;
}

.project_text .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project_text .links .bubble {
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: -45px;
  color: var(--dark_purple);
  padding: 6px 12px 6px 12px;
  background-color: var(--color);
  /* font-family: raleway_bold; */
  white-space: nowrap;
  font-size: 15px;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.project_text .links .bubble::after {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--color) transparent;
}

.project_text .links a:hover .bubble {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .project {
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    transition: filter 0.3s ease;
    gap: clamp(20px, 5vw, 100px);
  }

  .project:hover {
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
  }

  .project_text {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding: 60px 40px 60px 40px;
    background-color: rgba(52, 52, 102, 0.75);
    border-radius: 15px;
  }

  @media screen and (max-width: 500px) {
    .project_text {
      padding: 50px 25px 50px 25px;
    }
  }

  .project_text .type {
    margin-left: 0px;
  }

  .project_text .title {
    margin-left: 0px;
  }

  .project_text .text {
    background: none;
    filter: none;
    border-radius: 0px;
    padding: 10px 0px 8px 0px;
  }

  .project_text .text:hover {
    filter: none;
  }

  .project_text .text p {
    color: var(--white);
  }

  .project_text .tags {
    margin-left: -6px;
  }

  .project_text .links {
    margin-left: 0px;
  }

  .project_text .links .bubble {
    bottom: 15px;
  }
}
