.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: clamp(20px, 7vw, 100px);
}

.section {
  background-color: var(--dark_purple);
}

.experience_end {
  background-color: var(--dark_purple);
}

.title {
  color: var(--white) !important;
  margin-bottom: clamp(50px, 6vw, 80px);
}

@media screen and (max-width: 1125px) {
  .content {
    gap: clamp(20px, 5vw, 100px);
  }
}

@media screen and (max-width: 780px) {
  .content {
    gap: 35px;
  }
}

.section .job_text .links .github {
  --color: rgb(181, 184, 192);
}

.section .job_text .links .test {
  --color: rgb(41, 168, 99);
}

.section .job_text .links svg {
  width: 21px;
  fill: none;
  stroke-width: 1.9px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.section .job_text .links svg:hover {
  opacity: 0.6;
}

.section .job_text .links a {
  display: flex;

  justify-content: center;

  align-items: center;
}

.section .job_text .links .bubble {
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: -45px;
  color: var(--dark_purple);
  padding: 6px 12px 6px 12px;
  background-color: var(--color);
  /* font-family: raleway_bold; */
  white-space: nowrap;
  font-size: 15px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section .job_text .links .bubble::after {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--color) transparent;
}

.section .job_text .links a:hover .bubble {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .section .job {
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    transition: filter 0.3s ease;
  }

  .section .job:hover {
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
  }

  .section .job_text {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding: 60px 40px 60px 40px;
    background-color: rgba(52, 52, 102, 0.75);
    border-radius: 15px;
  }

  @media screen and (max-width: 500px) {
    .section .job_text {
      padding: 50px 25px 50px 25px;
    }
  }

  .section .job_text .job_title {
    margin-left: 0px;
  }

  .section .job_text .text p {
    color: var(--white);
  }

  .section .job_text .tags {
    margin-left: -6px;
  }

  .section .job_text .links {
    margin-left: 0px;
  }

  .section .job_text .links .bubble {
    bottom: 15px;
  }
}
