.menuOpen {
  transform: translateX(0px);
  box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.7);
}

.menuClosed {
  transform: translateX(clamp(0px, 100%, 400px));
  box-shadow: none;
}

.menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  width: clamp(0px, 100%, 400px);
  height: 100%;
  background-color: var(--dark_blue);
  right: 0px;
  -webkit-transform: translateX(clamp(0px, 100%, 400px));
  -ms-transform: translateX(clamp(0px, 100%, 400px));
  transform: translateX(clamp(0px, 100%, 400px));
  -webkit-transition:
    -webkit-transform 0.5s ease-in-out,
    -webkit-box-shadow 0.5s ease-in-out;
  transition:
    -webkit-transform 0.5s ease-in-out,
    -webkit-box-shadow 0.5s ease-in-out;
  -o-transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out,
    -webkit-box-shadow 0.5s ease-in-out;
}

.menu_div .menu_icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  stroke: var(--white);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 30px;
  -webkit-transition: stroke 0.2s ease;
  -o-transition: stroke 0.2s ease;
  transition: stroke 0.2s ease;
}

.menu_div .menu_icon:hover {
  stroke: var(--light_blue);
}

.menu_div .menu ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

.menu_div .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_div .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
  padding: 15px 22.5px;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.menu_div .menu .not_button {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.menu_div .menu .not_button:hover {
  color: var(--light_blue);
}

.menu_div .menu .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--light_blue);
  padding: 13.5px 30px 13.5px 34.5px;
}

.menu_div .menu .button .button_arrow {
  height: 15px;
  margin-left: 15px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**





















*/

.content {
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  left: 0px;
  width: 100%;
  height: 100px;
  transition:
    height 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    top 0.5s ease-in-out,
    -webkit-box-shadow 0.4s ease-in-out;
  height: 70px;
  pointer-events: all;
  top: 0px;
}

.header {
  pointer-events: all;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  width: 100%;
  height: 100%;
  transition:
    background-color 0.4s ease-in-out,
    backdrop-filter 0.4s ease-in-out;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .logo {
  display: flex;
}

.header .logo a {
  display: flex;
  pointer-events: all;
}

.header .logo img {
  display: flex;
}

.header .menu {
  display: flex;
}

.header .menu ol {
  display: flex;
}

.header .menu li {
  display: flex;
  margin: 0px 10px;
}

.header .menu a {
  display: flex;
  pointer-events: all;
  padding: 10px 15px;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
}

.header .menu .not_button {
  transition: color 0.2s ease;
}

.header .menu .not_button:hover {
  color: var(--light_blue);
}

.header .menu .button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light_blue);
  padding: 9px 20px 9px 23px;
}

.header .menu .button .button_arrow {
  height: 12px;
  margin-left: 12px;
  transform: rotate(-90deg);
}

.hamburger_icon {
  display: block;
  pointer-events: all;
  padding: 20px 20px 20px 20px;
  margin-right: -20px;
  cursor: pointer;
  stroke: var(--white);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 30px;
  transition: stroke 0.2s ease;
}

.menu_icon {
  display: block;
  pointer-events: all;
  padding: 20px 20px 20px 20px;
  /* margin-right: -20px; */
  cursor: pointer;
  stroke: var(--white);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 30px;
  transition: stroke 0.2s ease;
}

.menu_icon:hover {
  stroke: var(--light_blue);
}
